ACTION=="add", ATTRS{idVendor}=="f266", RUN+="/bin/sh -c '/bin/echo 1024 >/sys/module/usbcore/parameters/usbfs_memory_mb'"
ACTION=="add|change",SUBSYSTEM=="usb", ATTRS{idVendor}=="f266", GROUP="plugdev", TAG+="uaccess", MODE="0666"

