KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="f266", MODE="666", TAG="ckusb_dev"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="remove",  ATTR{idVendor}=="f266", TAG=="ckusb_dev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="f266", GROUP="plugdev", TAG+="uaccess"
